@import '../../libs/reset.scss';

.banner{
    display: flex;
    width: 70vw;
    height: 415px;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
}
img{
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    width: 100%;
}
figcaption{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    bottom: 50%;
}
.counter{
    position: absolute;
    bottom: 10px;
    left: 50%;
    color: #FFF;
}
@media screen and (max-width: 420px){
    .banner{
        width: 90vw;
        max-height: 255px;
    }
}