@import '../../libs/reset.scss';

header{
    font-family: 'Monserrat', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin: 10px;
}
a{
    padding: 20px;
    text-decoration: none;
    font-size: 1.5em;
    color: #FF6060;
}
a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 420px) {    
    header{
        display: flex;
    }
    header svg{
        transform: scale(0.7);
    }
    header nav {
        display: flex;
        align-items: center;
        text-transform: uppercase;
    }
    header a {
        padding: 0;
        font-size: 0.75em;
    }
}