@import '../../libs/reset.css';

.head{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
    margin: 10px 0;
}
.leftList{
    position: relative;
    max-width: 50%;
}
.rightList{
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}
ul li{
    list-style: none;
}
h2{
    color: #FF6060;
    font-size: 2em;
    font-weight: 500;
}
h3{
    color: #FF6060;
    font-size: 1em;
    font-weight: 500;
}
.collapseContainer{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
}
.collapseContainer div{
    width: 47%;
    height: fit-content;
}
.rating{
    color: #E3E3E3;
    margin: 3px;
    align-items: center;
}
.colored {
    color: #FF6060;
}
.tagList{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 830px) {
    .head{
        flex-direction: column;
        width: 90%;
    }
    h2{
        font-size: 1em;
    }
    h3{
        font-size: 0.78em;
    }
    ul{
        width: 100%;
    }
    .leftList{
        width: 100%;
    }
    .rightList{
        align-items: center;
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
        font-size: 0.75em;
    }
    .rating{
        display: flex;
        flex-direction: row;
    }
    .collapseContainer{
        width: 90vw;
        flex-direction: column;
    }
    .collapseContainer div {
        width: 100%;
    }
}