@import '../../libs/reset.css';

.tagContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Permettre le passage à la ligne des tags sur les petits écrans */
}

.tag {
    display: flex;
    flex-direction: row;
    font-family: 'Monserrat', sans-serif;
    background-color: #FF6060;
    color: #FFF;
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    font-size: 0.78em;
    margin: 10px 10px 10px 0;
    white-space: nowrap;
}

@media screen and (max-width: 420px) {
    .tag {
        font-size: 0.56em;
        margin-right: 0;
        margin-bottom: 10px;
    }
}
