@import '../../libs/reset.scss';

.collapse{
    margin: 10px 0;
    border-radius: 10px;
    color: #FF6060;
    background: #E6E6E6;
}
.collapse h3{
    display: flex;
    background: #FF6060;
    background-blend-mode: overlay;
    color: #FFF;
    padding: 5px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    font-weight: 400;
    cursor: pointer;
}
.collapseContent{
    background-color: #E6E6E6;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    font-size: 1.25em;
    font-weight: 100;
    width: 100% !important;
}
.collapseContentHidden {
    display: none;
}

@media screen and (max-width: 420px) {
    .collapse {
        margin: 5px 0;
    }
    .collapse h3 {
        font-size: 1.25em;
    }
    .collapseContent {
        font-size: 1em;
        padding: 5px;
    }
}