@import '../../libs/reset.scss';

.footer{
    display: flex;
    flex-direction: column;
    background-color: #000;
    color: #FFF;
    height: 150px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}
.paragraph{
    padding: 10px;
}
footer svg{
    transform: scale(0.5);
}