@import '../../libs/reset.scss';

.hostContainer{
    display: flex;
    flex-direction: row;
}
.hostName{
    display: flex;
    color: #FF6060;
    font-size: 1.125em;
    align-items: center;
    text-align: right;
    padding-right: 20px;
}
.profilePic{
    display: flex;
    overflow: hidden;
    background-color: #C4C4C4;
    height: 4em;
    width: 4em;
    border-radius: 50%;
}
@media screen and (max-width: 420px){
    .hostName{
        padding-right: 10px;
    }
}